*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: monospace;
}

canvas {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(78, 69, 69, 0.644);
}

#pieces {
  display: none;
}

#current_player {
  position: fixed;
  top: 10px;
  left: 10px;
}
